/* Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/* Generic settings */

p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}
body {
  max-width: 100%;
}
header picture img {
  max-width: 100%;
}

/* Header settings */

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: hsl(345deg 6% 13%);
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.79;
  text-align: center;
  color: hsl(345deg 6% 13%);
}

/* Form settings */

.form-generic {
  width: 100%;
  display: block;
  box-sizing: border-box;
  height: calc(1.5em + 0.75rem + 2px);

  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  border: 0px;
  border-bottom: solid 3px rgba(0, 0, 0, 0.5);
  color: hsl(0deg 0% 0%);
  padding-left: 2rem;
}

.form-generic::-webkit-input-placeholder {
  color: black;
}

input.btn-submit {
  margin-top: 32px;
  margin-bottom: 43px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border-radius: 0px;
  background-color: hsl(192deg 100% 12%);
  border-color: hsl(192deg 100% 12%);

  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;

  color: hsl(0deg 0% 100%);
}

.btn-submit:hover {
  background-color: rgb(23, 0, 113);
  border-color: rgb(23, 0, 113);
}

.btn-submit:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.form-visible {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

/* Footer settings */

.footer-text-generic {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  line-height: 1.67;
  color: hsl(345deg 6% 13%);
}
