/* Font */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/* Font Piquadro */

@font-face {
  font-family: ApexNew-bold;
  font-weight: bold;
  src: url("../font/ApexNew-Bold.otf") format("opentype");
}
@font-face {
  font-family: ApexNew-light;
  font-weight: 200;
  src: url("../font/ApexNew-light.otf") format("opentype");
}

:root {
  --font-pq-light: "ApexNew-light";
  --font-pq-bold: "ApexNew-bold";
  --font-tb: "Montserrat";
  --hero-bg-pq-desktop: url(../images/desktop.jpg);
  --hero-bg-pq-mobile: url(../images/mobile.jpg);
}

/* Generic settings */

p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}
body {
  font-family: var(--font-pq-light);
  /* font-family: var(--font-tb); */
  font-weight: 400;
  text-align: center;
  max-width: 100%;
  margin: 0;
}

/* Header settings */

header.header-form {
  display: grid;
  gap: 8px;
}
.header-picture {
  background: no-repeat var(--hero-bg-pq-mobile);
  background-size: cover;
  max-width: 100%;
  height: 250px;
  box-sizing: content-box;
}
header.header-form .logo {
  margin: 10px auto 0 auto;
}
.title {
  font-family: var(--font-pq-bold);
  /* font-family: var(--font-tb); */
  font-size: 1.2rem;
  font-weight: 500;
}
.subtitle p {
  line-height: 1.5;
}

/* Form settings */

.form-generic {
  box-sizing: border-box;
  height: calc(1.5em + 0.75rem + 2px);

  font-family: var(--font-pq-light), sans-serif;
  /* font-family: var(--font-tb), sans-serif; */
  font-size: 1rem;
  line-height: 1.5;

  border: 0px;
  border-bottom: solid 3px rgba(0, 0, 0, 0.5);
  color: hsl(0deg 0% 0%);
  padding-left: 2rem;
}

.form-generic::-webkit-input-placeholder {
  color: black;
}

input.btn-submit {
  margin-top: 32px;
  margin-bottom: 43px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border-radius: 0px;
  background-color: hsl(192deg 100% 12%);
  border-color: hsl(192deg 100% 12%);

  font-size: 1rem;
  font-weight: bold;

  color: hsl(0deg 0% 100%);
}

.btn-submit:hover {
  background-color: rgb(23, 0, 113);
  border-color: rgb(23, 0, 113);
}

.btn-submit:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.form-visible {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

/* Footer settings */

.footer-text-generic {
  font-size: 0.8rem;
  line-height: 1.67;
  color: hsl(345deg 6% 13%);
}

@media screen and (min-width: 750px) {
  .form-visible {
    width: 40vw;
  }
  .title {
    font-size: 1.6rem;
  }
  .header-picture {
    background: no-repeat var(--hero-bg-pq-desktop);
    background-size: cover;
  }
}
